<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><h5>MateMovil</h5></ion-title>
    <ion-buttons end>
      <!-- *ngIf="!login" -->
      <button icon-only ion-button (click)="openSearchPage()"><ion-icon name = "search"></ion-icon></button>
      <button icon-only ion-button *ngIf="!login" (click)="inicioSesion()"> <ion-icon name='md-contact'></ion-icon></button>
    </ion-buttons>
    
  </ion-navbar>
</ion-header>

<ion-content >
   <!-- <ion-refresher (ionRefresh)="getpost($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>  -->

  <ion-card *ngFor="let item of items"   >
       <img *ngIf="item.img" src="{{item.img}}" alt="" srcset=""(click)="openDetail(item)" /> 
      <!--<img *ngIf="item.img" src="{{item._embedded['wp:featuredmedia'][0].media_details.sizes.medium.source_url}}" (click)="openDetail(item)">-->
      
    <ion-card-content>   
      <ion-card-title (click)="openDetail(item)">
        <h2>{{item.title.rendered}}</h2>
      </ion-card-title>
        <ion-row>
            <ion-badge color="secondary"> 
              {{getCatName(item.categories[0])}}  
            </ion-badge>
        </ion-row>   
        <ion-grid>
          <ion-row>
              <ion-col col-4>
                <button ion-button icon-start clear  (click)="getLike()" >
                  <ion-icon name="thumbs-up"></ion-icon>
                  <div>{{item.id}}</div>
                </button>
              </ion-col>
              <ion-col col-4>
                <button ion-button icon-start clear  (click)="getComentario()">
                  <ion-icon name="md-chatboxes"></ion-icon>
                  <div><span class="fb-comments-count" data-href="https://www.facebook.com/noticiaslatinas1010/"></span></div>
                </button>
              </ion-col>
              <ion-col col-4>
                  <button ion-button icon-start clear  color="primary" (click)="share(item.link)">
                      <ion-icon name="md-share"></ion-icon>
                  </button>
              </ion-col>
          </ion-row>
        </ion-grid> 
    </ion-card-content>
  </ion-card>

  
  <!-- <ion-infinite-scroll (ionInfinite)="getPost($event)">
      <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
      </ion-infinite-scroll-content>
  </ion-infinite-scroll> -->
  <div *ngIf="isLoading" text-center padding>
    
  </div>
  <button *ngIf="showLoadMore" ion-button full padding (click)="getPost()">
    Cargar Mas..
  </button>
</ion-content>

<!-- footer -->

<ion-footer>
    
      <ion-grid>
        <ion-row justify-content-center>
            <ion-col  col-4>
              <a href="https://www.youtube.com/user/MateMovil1" ion-button round small color="rojo"><ion-icon  md="logo-youtube"></ion-icon></a>
            </ion-col>
            <ion-col col-4>
                <a href="https://twitter.com/matemovil1" ion-button round  small color="primary"><ion-icon  md="logo-twitter"></ion-icon></a>
              </ion-col>
            <ion-col col-4 >
                <a href="https://www.facebook.com/MateMovil" ion-button round small color="azul"><ion-icon  md="logo-facebook"></ion-icon></a>
            </ion-col>
          </ion-row>
        </ion-grid>
    
  </ion-footer>

<!-- codigo get post -->




<!-- 


    getPost(infiniteScroll=null){
    if(!this.isLoading){
      this.isLoading = true;
      if(infiniteScroll!=null && infiniteScroll.ionRefresh){
          this.page=1;
      }
      this.wp.get('posts?_embed&per_page='+this.per_page +'&page='+this.page + (this.category_id!=0 ? '&categories='+this.category_id:''))
     .subscribe((data:any)=>{
        this.isLoading = false;  
        this.items = infiniteScroll!=null && infiniteScroll.ionRefresh ? data : this.items.concat(data);

        for(let item of this.items){
          this.wp.gets(item.id).subscribe((data) => {
              if(data[0]!=null)
                item.img = data[0].source_url;
          });
        }
        
        if(data.length === this.per_page){
          this.page++;
        }

        if(infiniteScroll!=null){
          infiniteScroll.complete();
        }

      }, (error)=>{
        this.isLoading = false;
        if(infiniteScroll!=null){
          infiniteScroll.complete();
        }
      });
    }
  }
 -->