<ion-menu [content]="content">
  <ion-header > 
    <ion-toolbar color="primary">
      <ion-title>Categorìas</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>

    <!-- info usuario -->
      <ion-card color="primary" *ngIf="login">
          <ion-card-header>
           {{username}}
          </ion-card-header>
          <ion-grid>
            <ion-row>
              <ion-col>
                  <ion-avatar item-start>
                      <img  id = "img-perfil" src="{{foto}}">
                  </ion-avatar>
              </ion-col>
              <ion-col>
                  <button  menuClose ion-item color="primary" (click)="cerrar()">
                      <span>Cerrar Sesion</span>
                      <ion-icon name="md-power" item-end color="dark"></ion-icon>
                    </button>
              </ion-col>
            </ion-row>
          </ion-grid>


         
        </ion-card>
  <!-- info usuario -->

    <ion-list no-lines>
      <button menuClose ion-item (click)="openPage(0)">
          <span>Todas</span>
      </button>
      <button  menuClose ion-item *ngFor="let cat of wp.Categories" (click)="openPage(cat.id)">
        <span>{{cat.name}}</span>
        <ion-icon name="ios-paper-plane" item-end color="primary"></ion-icon>
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>